# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build/
.cache/
.wrangler/
storybook-static/
.content-collections
/Writerside/images/completion_procedure.png
/Writerside/images/completion_procedure_dark.png
/Writerside/images/convert_table_to_xml.png
/Writerside/images/convert_table_to_xml_dark.png
/Writerside/images/new_topic_options.png
/Writerside/images/new_topic_options_dark.png
/.react-router/types/app/+types/root.ts
/.react-router/types/app/routes/+types/$session.$service.$view.ts
/.react-router/types/app/routes/+types/$session.$service._index.ts
/.react-router/types/app/routes/+types/$session.$service.ts
/.react-router/types/app/routes/+types/$session.ts
/.react-router/types/app/routes/+types/cloudscape._index.ts
/.react-router/types/app/routes/+types/cloudscape.custom.ts
/.react-router/types/app/routes/+types/cloudscape.ts
/.react-router/types/app/routes/+types/home.ts
/.react-router/types/app/routes/+types/index.ts
/.react-router/types/app/routes/+types/layout.ts
/.react-router/types/app/routes/+types/todos.ts
/.react-router/types/app/routes/auth/+types/layout.ts
/.react-router/types/app/routes/auth/+types/login.ts
/.react-router/types/app/routes/auth/+types/logout.ts
/.react-router/types/app/routes/auth/+types/provider.ts
/.react-router/types/app/routes/auth/+types/provider-callback.ts
/.react-router/types/app/routes/auth/+types/verify.ts
/pnpm-lock.yaml
